streamlit
openai
python-dotenv
pyodbc
protobuf==3.20.3

# LangChain stack
langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-classic

# Vector DB
chromadb

# Data / utils
pypdf
pandas
scikit-learn
matplotlib
